// Transparency and blur for the two perverts that enjoy that kind of stuff.

version 1

layer "bg-opaque" {
    token "background-opacity" a=1
    token "transparent-opacity" a=1
}

layer "bg-blurred" {
    token "background-opacity" a=0.95
    token "transparent-opacity" a=0
}

layer "bg-transparent" {
    token "background-opacity" a=0.95
    token "transparent-opacity" a=0
}